.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    background: #b9b9bd;
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.spinner-icon{
    font-size: 60px;
    margin: 30px;
}

.fa-spin{
    animation-iteration-count: infinite;
}